#main
  / slider starts
  / #slider_placeholder
  =render partial: 'front/static_pages/home_partials/slider'
  / slider ends
  / primary starts
  %section#primary.content-full-width
    #services
      =render partial: 'front/static_pages/home_partials/introduction'
    .dt-sc-hr
    / fullwidth_banner starts
    %section
      .container
        %h1{style: "text-align: center; color: #F1F3F3;"} Услуги
      / fullwidth_banner ends
      / primary starts
    %section.fullwidth_banner.max-height
      =render partial: 'front/static_pages/home_partials/services'
      / fullwidth-background starts
      / %section.fullwidth-background.dt-sc-parallax-section.turquoise-bg
      / =render partial: 'front/static_pages/home_partials/services_description'
      / fullwidth-background ends
    %section
      .dt-sc-hr
      =render partial: 'front/static_pages/home_partials/portfolio'
      .dt-sc-hr

    %section.fullwidth-background.dt-sc-parallax-section.product_bg{:style => "background-position: 50% 54px;"}
      #elza_show
        =render partial: 'front/static_pages/home_partials/show_elza'

    %section
      .dt-sc-hr
      =render partial: 'front/static_pages/home_partials/teambuilding'

    %section.fullwidth-background.dt-sc-parallax-section.turquoise-bg{:style => "background-position: 50% -59px;"}
      =render partial: 'front/static_pages/home_partials/masterclass'
    %section.fullwidth-background.dt-sc-parallax-section.orange-bg
      #contact
        / container starts
        / =render partial: "front/static_pages/home_partials/blog"
        =render partial: "front/static_pages/home_partials/contact"

      / primary ends
      / main ends