#main
  / slider starts
  #slider
    #layerslider_4.ls-wp-container{:style => "width:100%;height:610px;max-width:1920px;margin:0 auto;margin-bottom: 0px;"}
      .ls-slide{"data-ls" => "slidedelay:7000; transition2d: all;"}
        %img.ls-bg{:alt => "Slide background", :src => asset_path("bg3.jpg")}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:800;easingin:easeOutElastic;skewxin:30;skewyin:30;transformoriginin:50% 0% 50%;offsetxout:0;parallaxlevel:1;", :src => asset_path("defaults/layerslider-gallery/bring.png"), :style => "top:120px;left:530px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:80;delayin:500;offsetxout:0;offsetyout:-80;", :src => asset_path("defaults/layerslider-gallery/grass.png"), :style => "top:420px;left:-430px;z-index:100;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:2;delayin:1000;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:-1;", :src => asset_path("defaults/layerslider-gallery/fun.png"), :style => "top:185px;left:530px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:1800;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:-2;", :src => asset_path("defaults/layerslider-gallery/two.png"), :style => "top:252px;left:507px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:2200;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:3;", :src => asset_path("defaults/layerslider-gallery/life.png"), :style => "top:250px;left:571px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:2500;parallaxlevel:-2;", :src => asset_path("defaults/layerslider-gallery/cup-divider.png"), :style => "top:355px;left:518px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:-100;delayin:3000;offsetxout:0;offsetyout:100;parallaxlevel:3;", :src => asset_path("defaults/layerslider-gallery/a-trendy-kids.png"), :style => "top:405px;left:509px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:150;delayin:2000;easingin:swing;offsetxout:0;offsetyout:-150;parallaxlevel:3;", :src => "http://placehold.it/140x369/4cbcd4", :style => "top:220px;left:370px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:150;delayin:2200;easingin:easeInOutBack;offsetxout:0;offsetyout:-150;parallaxlevel:-4;", :src => "http://placehold.it/259x525/dd72b3", :style => "top:42px;left:173px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:150;delayin:2700;easingin:easeInBack;offsetxout:0;offsetyout:-150;parallaxlevel:5;", :src => "http://placehold.it/259x445/f7c44e", :style => "top:70px;left:-59px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:150;delayin:2300;easingin:easeOutQuart;offsetxout:0;offsetyout:-150;parallaxlevel:3;", :src => "http://placehold.it/262x488/aec158", :style => "top:55px;left:740px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:150;delayin:2500;offsetxout:0;offsetyout:-150;parallaxlevel:4;", :src => "http://placehold.it/273x474/4c7297", :style => "top:85px;left:955px;white-space: nowrap;"}/
      .ls-slide{"data-ls" => "slidedelay:7000; transition2d: all;"}
        %img.ls-bg{:alt => "Slide background", :src => "http://placehold.it/1920x610/000000"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxout:180;", :src => "http://placehold.it/451x576/4cbcd4", :style => "top:35px;left:678px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:1500;scaleyin:3;transformoriginin:0% 50% 0;parallaxlevel:2;", :src => asset_path("defaults/layerslider-gallery/b-cloud.png"), :style => "top:23px;left:998px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:-100;delayin:2000;rotateyin:30;parallaxlevel:5;", :src => asset_path("defaults/layerslider-gallery/b-swirl.png"), :style => "top:67px;left:679px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:-200;delayin:2000;", :src => asset_path("defaults/layerslider-gallery/b-comment.png"), :style => "top:78px;left:50px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:2500;rotateyin:30;", :src => asset_path("defaults/layerslider-gallery/welcome-text.png"), :style => "top:137px;left:98px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:3000;rotateyin:30;", :src => asset_path("defaults/layerslider-gallery/text-desc.png"), :style => "top:222px;left:96px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:200;delayin:3500;offsetxout:0;offsetyout:150;", :src => asset_path("defaults/layerslider-gallery/purchase-theme.png"), :style => "top:397px;left:105px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:3700;", :src => asset_path("defaults/layerslider-gallery/b-tick.png"), :style => "top:395px;left:297px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:200;delayin:4000;offsetxout:0;offsetyout:150;", :src => asset_path("defaults/layerslider-gallery/chalk-effect.png"), :style => "top:421px;left:100px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:3100;rotateyin:90;parallaxlevel:3;", :src => asset_path("defaults/layerslider-gallery/b-game.png"), :style => "top:30px;left:2px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:-100;delayin:3500;parallaxlevel:4;", :src => asset_path("defaults/layerslider-gallery/b-bulb.png"), :style => "top:498px;left:13px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:2300;rotateyin:180;parallaxlevel:-3;", :src => asset_path("defaults/layerslider-gallery/b-glass.png"), :style => "top:524px;left:507px;white-space: nowrap;"}/
      .ls-slide{"data-ls" => "slidedelay:7000; transition2d: all;"}
        %img.ls-bg{:alt => "Slide background", :src => "http://placehold.it/1920x610/000000"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:500;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:1;", :src => asset_path("defaults/layerslider-gallery/boom.png"), :style => "top:25px;left:763px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:1000;rotateyin:180;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:-2;", :src => asset_path("defaults/layerslider-gallery/awesome-gallery.png"), :style => "top:247px;left:731px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:1500;rotateyin:90;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:4;", :src => asset_path("defaults/layerslider-gallery/parallax-bg.png"), :style => "top:259px;left:888px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:2000;rotateyin:100;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:3;", :src => asset_path("defaults/layerslider-gallery/creative-design.png"), :style => "top:402px;left:758px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:1700;rotateyin:120;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:2;", :src => asset_path("defaults/layerslider-gallery/mega-menu.png"), :style => "top:411px;left:935px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:700;parallaxlevel:4;", :src => asset_path("defaults/layerslider-gallery/common-swirl.png"), :style => "top:15px;left:1095px;transform:rotate(100deg); -ms-transform:rotate(100deg); /* IE 9 */ -webkit-transform:rotate(100deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:1800;rotatexin:30;rotateyin:30;parallaxlevel:3;", :src => asset_path("defaults/layerslider-gallery/common-swirl.png"), :style => "top:133px;left:686px;transform:rotate(50deg); -ms-transform:rotate(50deg); /* IE 9 */ -webkit-transform:rotate(50deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:1800;rotatexin:30;rotateyin:30;parallaxlevel:2;", :src => asset_path("defaults/layerslider-gallery/common-swirl.png"), :style => "top:516px;left:705px;transform:rotate(-50deg); -ms-transform:rotate(-50deg); /* IE 9 */ -webkit-transform:rotate(-50deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:2500;rotatexin:30;rotateyin:30;parallaxlevel:3;", :src => asset_path("defaults/layerslider-gallery/common-swirl.png"), :style => "top:229px;left:1069px;transform:rotate(-90deg); -ms-transform:rotate(-90deg); /* IE 9 */ -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */ ;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:150;delayin:3000;rotateyin:100;offsetxout:0;offsetyout:-100;parallaxlevel:-4;", :src => asset_path("defaults/layerslider-gallery/star-2.png"), :style => "top:123px;left:1123px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:1200;rotatexin:200;rotateyin:200;parallaxlevel:5;", :src => asset_path("defaults/layerslider-gallery/aplus.png"), :style => "top:0px;left:0px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;offsetyin:90;delayin:2000;rotatexin:100;rotateyin:100;offsetyout:-90;parallaxlevel:1;", :src => asset_path("defaults/layerslider-gallery/swirl-3.png"), :style => "top:92px;left:-52px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "delayin:800;rotatexin:200;rotateyin:200;parallaxlevel:3;", :src => asset_path("defaults/layerslider-gallery/swirl-2.png"), :style => "top:197px;left:-9px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:3000;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:-2;", :src => asset_path("defaults/layerslider-gallery/cap.png"), :style => "top:275px;left:-122px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:2700;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:1;", :src => asset_path("defaults/layerslider-gallery/apple.png"), :style => "top:394px;left:-30px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:2200;rotatexin:90;rotateyin:90;offsetxout:0;parallaxlevel:2;", :src => asset_path("defaults/layerslider-gallery/swirl-4.png"), :style => "top:35px;left:555px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:3200;scalexin:4;scaleyin:4;offsetxout:0;parallaxlevel:-2;", :src => asset_path("defaults/layerslider-gallery/common-star.png"), :style => "top:395px;left:758px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:2100;scalexin:2;scaleyin:2;offsetxout:0;parallaxlevel:1;", :src => asset_path("defaults/layerslider-gallery/common-star.png"), :style => "top:366px;left:1067px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;delayin:2400;scalexin:3;scaleyin:3;offsetxout:0;parallaxlevel:-1;", :src => asset_path("defaults/layerslider-gallery/common-star.png"), :style => "top:444px;left:1100px;white-space: nowrap;"}/
        %img.ls-l{:alt => "", "data-ls" => "offsetxin:0;durationin:1500;delayin:3600;scalexin:6;scaleyin:6;offsetxout:0;parallaxlevel:-2;", :src => asset_path("defaults/layerslider-gallery/common-star.png"), :style => "top:561px;left:955px;white-space: nowrap;"}/
  / slider ends
  / primary starts
  %section#primary.content-full-width
    =render partial: 'front/static_pages/home_partials/services'
    .dt-sc-hr
    / fullwidth-background starts
    %section.fullwidth-background.dt-sc-parallax-section.turquoise-bg
      =render partial: 'front/static_pages/home_partials/services_description'
    / fullwidth-background ends
    .dt-sc-hr
    =render partial: 'front/static_pages/home_partials/portfolio'
    .dt-sc-hr
    / fullwidth-background starts
    %section.fullwidth-background.dt-sc-parallax-section.orange-bg
      / container starts
      / =render partial: "front/static_pages/home_partials/blog"
      =render partial: "front/static_pages/home_partials/contact"
      / dt-sc-one-half ends
      / container ends
    / fullwidth-background ends
    .dt-sc-hr
    =render partial: "front/static_pages/home_partials/staff"
    / .dt-sc-hr

  / primary ends
/ main ends