#main
  / slider starts
  #slider_placeholder
    =render partial: 'front/static_pages/home_partials/slider'
  / slider ends
  / primary starts
  %section#primary.content-full-width
    #services
      =render partial: 'front/static_pages/home_partials/introduction'
    .dt-sc-hr
    / fullwidth_banner starts
  %section
    .container
      %h1{style: "text-align: center; color: #F1F3F3;"} Услуги
    / fullwidth_banner ends
    / primary starts
  %section#primary.content-full-width
    =render partial: 'front/static_pages/home_partials/services'
    / fullwidth-background starts
    / %section.fullwidth-background.dt-sc-parallax-section.turquoise-bg
    / =render partial: 'front/static_pages/home_partials/services_description'
    / fullwidth-background ends
  %section.fullwidth_banner
    .dt-sc-hr
    =render partial: 'front/static_pages/home_partials/portfolio'
    .dt-sc-hr
    / fullwidth-background starts
    %section.fullwidth-background.dt-sc-parallax-section.orange-bg
      / container starts
      / =render partial: "front/static_pages/home_partials/blog"
      =render partial: "front/static_pages/home_partials/contact"
      / dt-sc-one-half ends
      / container ends
    / fullwidth-background ends
    / .dt-sc-hr
    / =render partial: "front/static_pages/home_partials/staff"
    / .dt-sc-hr

    / primary ends
    / main ends