/ breadcrumb-section starts
.breadcrumb-section
  .container
    %h1 Дед Мороз и Снегурочка на дом
    .breadcrumb
      %a{:href => root_path} Главная
      %span.fa.fa-angle-double-right
      %span.current Новый год
/ breadcrumb-section ends
/ container starts
.container
  / primary starts
  %section#primary.content-full-width
    .dt-sc-one-column
      %article.blog-entry
        .blog-entry-inner
          .entry-details
            .entry-title
              %h3.text-justify
                %a{:href => ''} Закажите Деда Мороза и Снегурочку на дом у Сказка Шоу!
            / entry-metadata ends
            .entry-body
              %p
                Профессиональные аниматоры в образе Деда Мороза и Снегурочки придут к вам домой, что станет волшебным сюрпризом для вашего ребенка. Он хорошенько повеселится с любимыми героями, ведь мы подготовили увлекательную новогоднюю программу с зажигательными играми, конкурсами и хороводами - все под вашу любимую музыку. Также в шоу-программу входит экспресс-фотосессия и торжественное вручение подарка. 
              %p
                Надоело каждый год приглашать Деда Мороза и Снегурочку? Не беда! Вы можете выбрать другого героя из нашего арсенала или скорректировать шоу-программу в соответствии со своими предпочтениями.
                Новый Год подошёл так быстро, что мы и сами этого не заметили.

    .dt-sc-one-column
      %article.blog-entry
        .blog-entry-inner
          .entry-title
            %h3.text-justify
              Наши Дед Мороз и Снегурочка
          .entry-thumb
            %a{:href => ''}
              %img{:alt => "", :src => asset_path('static/events/new_year/2.jpg'), :title => ""}/
          .entry-details
            / entry-metadata ends
            .entry-body
              %p
                Продолжительность программы: 15 или 30 минут.
                Стоимость программы зависит от длительности и даты её проведения:
              %ul.dt-sc-fancy-list.violet.star
                %li С 17 по 20 декабря - от 4500 до 12000 рублей
                %li 21 и 22 декабря - от 5990 до 20000 рублей
                %li С 23 по 27 декабря - от 5990 до 21000 рублей
                %li 28 декабря - от 7000 до 24000 рублей
                %li 29 декабря - от 7000 до 26000 рублей
                %li 30 декабря - от 8000 до 26000 рублей
                %li 31 декабря с 19.00 до 22.00 - от 20000 до 35000 рублей
                %li С 1 по 10 января - от 7000 до 14000 рублей
              %p
                Чтобы рассчитать стоимость программы для вас, оставьте заявку в форме обратной связи, и вскоре менеджер свяжется с вами и проконсультирует по всем вопросам.
            %a.dt-sc-button.small{:href => contact_path}
              Оставить заявку
              %span.fa.fa-chevron-circle-right
            .entry-body.padding-top-10
              %p
                Новый Год подошёл так быстро, что мы и сами этого не заметили.
              %p
                Дед Мороз и Снегурочка обратились в Сказку Шоу, чтобы мы помогли им найти веселую компанию, с которыми они проведут свои московские каникулы. Давайте поможем им?
              %p
                Они пришли не с пустыми руками! Они приготовили для вас самые веселые игры, занимательные мастер классы и захватывающие шоу-программы.
              %p
                Выбирайте!



  .dt-sc-one-column
    %article.blog-entry
      .blog-entry-inner
        .entry-details
          .entry-title
            %h3
              %a{:href => ''} Тариф "По следам Деда Мороза"
        .entry-thumb
          %a{:href => ''}
            %img{:alt => "", :src => asset_path('slider/winter_holidays/1.jpg'), :title => ""}/
        .entry-details
          / entry-metadata ends
          .entry-body
            %ul.dt-sc-fancy-list.violet.star
              %li Дед Мороз и Снегурочка
              %li Фотограф
              %li Ростовая кукла Олаф
              %li Шар-сюрприз в подарок
              🎅 До 20 детей, продолжительность: 1 час

              💸Стоимость: 20 000 рублей

          %a.dt-sc-button.small{:href => contact_path}
            Оставить заявку
            %span.fa.fa-chevron-circle-right

  .dt-sc-one-column
    %article.blog-entry
      .blog-entry-inner
        .entry-details
          .entry-title
            %h3
              %a{:href => ''} Тариф “Навстречу волшебству”
        .entry-thumb
          %a{:href => ''}
            %img{:alt => "", :src => asset_path('slider/winter_holidays/2.jpg'), :title => ""}/
        .entry-details
          / entry-metadata ends
          .entry-body
            %ul.dt-sc-fancy-list.violet.star
              %li Дед Мороз и Снегурочка
              %li Фотограф
              %li Ростовая кукла Ёлочка
              %li Азотное шоу
              %li Бумажное шоу
              %li Шар-сюрприз в подарок

              🎅До 25 детей, продолжительность: 2 часа

              💸Стоимость: 40 000 рублей

          %a.dt-sc-button.small{:href => contact_path}
            Оставить заявку
            %span.fa.fa-chevron-circle-right
  .dt-sc-one-column
    %article.blog-entry
      .blog-entry-inner
        .entry-details
          .entry-title
            %h3
              %a{:href => ''} Тариф “В гостях у сказки”
        .entry-thumb
          %a{:href => ''}
            %img{:alt => "", :src => asset_path('slider/winter_holidays/3.jpg'), :title => ""}/
        .entry-details
          .entry-body
            %ul.dt-sc-fancy-list.violet.star
              %li Дед Мороз и Снегурочка
              %li Фотограф
              %li Ростовая кукла Символ года
              %li Аквагрим
              %li Сказка
              %li Мастер-класс
              %li Шар-сюрприз в подарок
              🎅До 35 детей, продолжительность: 2,5 часа
              💸Стоимость: 70 000 рублей


          %a.dt-sc-button.small{:href => contact_path}
            Оставить заявку
            %span.fa.fa-chevron-circle-right
          .entry-body.padding-top-10
            %p
              Помимо этого вы можете составить свою индивидуальную шоу-программу, которая понравится именно вашим деткам.
