/ footer starts
%footer
  / footer-widgets-wrapper starts
  .footer-widgets-wrapper
    / container starts
    .container
      .column
        %aside.widget.widget_text
          %h3.widgettitle.red_sketch Наши контакты
          %p
            Если вы приняли решение доверить организацию своего праздника нам:
          %ul
            %li
              %a{:href => "tel:+79031303664"}Свяжитесь с нами по телефону +7 (903) 130-36-64
            %li
              %a{:href => "https://stalker-stories.com/instagram/skazkashow.msk"} Напишите в Instagram Direct @skazkashow.msk
            %li
              %a{:href => "mailto:info@skazka-show.ru"} Оставьте заявку на электронную почту info@skazka-show.ru
            %li
              %a{:href => "#contact"} Или просто введите свои данные в форму обратной связи и наш менеджер свяжется с вами в ближайшее время.
          %p Спасибо, что выбрали “Сказка шоу” - это очень важно для нас!
      / .column.dt-sc-one-half
      /   %aside.widget.widget_recent_entries
      /     %h3.widgettitle.green_sketch
      /     %ul
      /       %li
      /         %a{:href => ""}
      /           %img{:alt => "", :src => "http://placehold.it/60x60", :title => ""}/
      /         %h6
      /           %a{:href => ""} Пишите нам сюда
      /         %span March 23, 2014
      /       %li
      /         %a{:href => ""}
      /           %img{:alt => "", :src => "http://placehold.it/60x60", :title => ""}/
      /         %h6
      /           %a{:href => ""} Пишите нам туда
      /         %span March 23, 2014
      /       %li
      /         %a{:href => ""}
      /           %img{:alt => "", :src => "http://placehold.it/60x60", :title => ""}/
      /         %h6
      /           %a{:href => ""} Пишите нам оттуда
      /         %span March 23, 2014
      / .column.dt-sc-one-fourth
      /   %aside.widget.tweetbox
      /     %h3.widgettitle.yellow_sketch
      /       %a{:href => "#"} Twitter Feeds
      /     #tweets_container
      / .column.dt-sc-one-fourth
      /   %aside.widget.widget_text
      /     %h3.widgettitle.steelblue_sketch Contact
      /     .textwidget
      /       %p.dt-sc-contact-info
      /         %span.fa.fa-map-marker
      /         4318 Mansion House, Greenland
      /         %br/
      /         United States
      /       %p.dt-sc-contact-info
      /         %span.fa.fa-phone
      /         (000) 233 - 3236
      /       %p.dt-sc-contact-info
      /         %span.fa.fa-envelope
      /         %a{:href => "mailto:yourname@somemail.com"} Kidslife@somemail.com
      /   %aside.widget.mailchimp
      /     %p We're social
      /     %form.mailchimp-form{:action => "php/subscribe.php", :method => "post", :name => "frmnewsletter"}
      /       %p
      /         %span.fa.fa-envelope-o
      /         %input{:name => "mc_email", :placeholder => "Email Address", :required => "", :type => "email"}/
      /       %input.button{:name => "btnsubscribe", :type => "submit", :value => "Subscribe"}/
      /     #ajax_subscribe_msg
    / container ends
  / footer-widgets-wrapper ends
  .copyright
    .container
      %p.copyright-info
        © 2019 Skazka Show. Все права защищены. Создание сайта
        %a{:href => "https://blog.handsomecake.com", :title => "HandsomeCake Studios"} Handsomecake Studios
      .footer-links
        %p Мы в соцсетях
        %ul.dt-sc-social-icons
          %li.instagram
            %a{:href => "https://stalker-stories.com/instagram/skazkashow.msk "}
              %i.fa.fa-instagram
          %li.youtube
            %a{:href => "#"}
              %i.fa.fa-youtube
          / %li.pinterest
          /   %a{:href => "#"}
          /     %img{:alt => "", :src => asset_path("defaults/pinterest.png"), :title => ""}/
/ footer ends
