/ header starts
%header
  .container
    .logo
      %a{:href => "index.html", :title => "Kids Life"}
        %img{:alt => "Kids Life", :src => asset_path("defaults/logo.svg"), :title => "Kids Life", width: 360}/
    .contact-details
      %p.mail
        %a{:href => "mailto:info@skazka-show.ru"} info@skazka-show.ru
        %span.fa.fa-envelope
      %p.phone-no
        %i
          %a{href: "tel:+79031303664"}+7 (903) 130-36-64
        %span.fa.fa-phone
  / menu-container starts
  #menu-container
    .container
      / nav starts
      %nav#main-menu
        #dt-menu-toggle.dt-menu-toggle
          Menu
          %span.dt-menu-toggle-icon
        %ul#menu-main-menu.menu
          %li.current_page_item.menu-item-simple-parent.menu-item-depth-0.red
            %a{:href => root_path} Главная
          %li.mustard
            %a{:href => "#about"} О нас
          %li.green
            %a{:href => "#our-staff"} Наша команда
          %li.yellow
            %a{:href => "#services"} Услуги
          %li.steelblue
            %a{:href => "#contact", :title => ""} Связаться с нами
      / nav ends
      %ul.dt-sc-social-icons
        %li
          %a.dt-sc-tooltip-top.facebook{:href => "#", :title => "Facebook"}
            %span.fa.fa-facebook
        %li
          %a.dt-sc-tooltip-top.youtube{:href => "#", :title => "Youtube"}
            %span.fa.fa-youtube
        %li
          %a.dt-sc-tooltip-top.instagram{:href => "https://instagram.com/skazkashow.msk", :title => "Instagram", target: '_blank'}
            %span.fa.fa-instagram
        / %li
        /   %a.dt-sc-tooltip-top.gplus{:href => "#", :title => "Google Plus"}
        /     %span.fa.fa-google-plus
  / menu-container ends
/ header ends