/ header starts
%header
  .container
    .logo
      / %img{:alt => "Kids Life", :src => asset_path("static/clown.jpg"), :title => "Kids Life", class: 'logo-clown'}
      .logo-additional
        =link_to root_path, method: :get do
          %img{:alt => "Kids Life", :src => asset_path("defaults/logo.svg"), :title => "Организация детских праздников 'Сказка шоу'", width: 360}/
    .contact-details
      %p.mail
        %a{:href => "mailto:info@skazka-show.ru"} info@skazka-show.ru
        %span.fa.fa-envelope
      %p.phone-no
        %i
          %a{href: "tel:+79031303664"}+7 (903) 130-36-64
        %span.fa.fa-phone
  / menu-container starts
  #menu-container
    .container
      / nav starts
      %nav#main-menu
        #dt-menu-toggle.dt-menu-toggle
          Menu
          %span.dt-menu-toggle-icon
        %ul#menu-main-menu.menu
          %li.current_page_item.menu-item-simple-parent.menu-item-depth-0.red
            =link_to 'Главная', root_path, method: :get
          %li.mustard
            =link_to 'О нас', root_path(anchor: 'about_us'), method: :get
          %li.menu-item-megamenu-parent.megamenu-4-columns-group.menu-item-depth-0.blue
            %a{:href => "javascript:void(0)", :title => ""} Услуги
            .megamenu-child-container
              %ul.sub-menu
                %li
                  %a{:href => "#"} Шоу
                  %ul.sub-menu
                    %li
                      =link_to 'Лазерное шоу', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Тесла шоу ', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Поролоновое шоу', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Криошоу с мороженным', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Мимы шоу', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Кукольный спектакль', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Ростовые куклы', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Иллюзионная программа', root_path(anchor: 'our_shows'), method: :get
                    %li
                      =link_to 'Барабанное шоу', root_path(anchor: 'our_shows'), method: :get
                  %a.dt-menu-expand +
                %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-depth-1.menu-item-with-widget-area
                  %a{:href => "#"} Популярное
                  .menu-item-widget-area-container
                    %ul
                      %li.widget.widget_popular_products
                        %ul.product_list_widget
                          %li
                            =link_to contact_path, method: :get do
                              %img{:alt => "Свадьбы", :src => asset_path('static/wedding.jpg'), width: 70, height: 70}/
                              Свадьбы
                            / %span.amount $20.00
                          %li
                            =link_to contact_path, method: :get do
                              %img{:alt => "Праздник в ТРЦ", :src => asset_path('static/pen_and_paper.jpg'), width: 70, height: 70}/
                              Праздник в ТРЦ
                            / %span.amount $20.00
                          %li
                            =link_to contact_path, method: :get do
                              %img{:alt => "Юбилей", :src => asset_path('static/cake.jpg'), width: 70, height: 70}/
                              Юбилей
                            / %span.amount $20.00
                          %li
                            =link_to contact_path, method: :get do
                              %img{:alt => "День рождения", :src => asset_path('static/kids.jpg'), width: 70, height: 70}/
                              День рождения
                %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-depth-1.menu-item-with-widget-area.fill-two-columns
                  %a{:href => "#"} Образы для детей
                  .menu-item-widget-area-container
                    %ul
                      %li.widget.widget_recent_entries
                        .entry-thumb
                          =link_to services_path, method: :get do
                            %img{:alt => "", :src => asset_path('static/blog_img2.jpg'), :title => ""}/
                        .entry-body
                          %p Образы для малышей. Возраст от 0 до 5 лет.
                        .entry-details
                          .entry-title
                            %h5
                              =link_to 'Оставить заявку', contact_path, method: :get
                          .entry-metadata
                            %p.author
                              =link_to 'Более подробно', services_path, method: :get
                            / %span |
                            / %p.comments
                            /   %a{:href => "#"}
                            /     %span.fa.fa-comment
                            / %p.date 10 Aug
                      %li.widget.widget_recent_entries
                        .entry-thumb
                          =link_to services_path, method: :get do
                            %img{:alt => "", :src => asset_path('static/blog_img1.jpg'), :title => ""}/
                        .entry-body
                          %p Образы для деток. Возрасть от 5 до 7 лет.
                        .entry-details
                          .entry-title
                            %h5
                              =link_to 'Оставить заявку', contact_path, method: :get
                          .entry-metadata
                            %p.author
                              =link_to 'Более подробно', services_path, method: :get
                            / %span |
                            / %p.comments
                            /   %a{:href => "#"}
                            /     %span.fa.fa-comment
                            / %p.date 10 Aug
            %a.dt-menu-expand +

          %li.steelblue
            =link_to 'Тимбилдинги', root_path(anchor: 'teambuilding'), method: :get
          %li.lavender
            =link_to 'Мастер-классы', root_path(anchor: 'masterclass'), method: :get
          %li.yellow
            =link_to 'Образы', services_path, method: :get
          %li.green
            =link_to 'Контакты', contact_path, method: :get
          %li.blue
            =link_to 'Новый Год!', new_year_path, method: :get
      / nav ends
      %ul.dt-sc-social-icons
        %li
          %a.dt-sc-tooltip-top.icon-tik-tok{ href: "#", title: 'Tik Tok', target: '_blank' }
            %span.icon-tik-tok
        %li
          %a.dt-sc-tooltip-top.youtube{ href: "#", title: "Youtube", target: '_blank'}
            %span.fa.fa-youtube
        %li
          %a.dt-sc-tooltip-top.instagram{ href: "https://instagram.com/skazkashow.msk", title: "Instagram", target: '_blank'}
            %span.fa.fa-instagram
        / %li
        /   %a.dt-sc-tooltip-top.gplus{:href => "#", :title => "Google Plus"}
        /     %span.fa.fa-google-plus
  / menu-container ends
/ header ends