/ header starts
%header
  .container
    .logo
      %a{:href => "index.html", :title => "Kids Life"}
        %img{:alt => "Kids Life", :src => asset_path("defaults/logo.png"), :title => "Kids Life"}/
    .contact-details
      %p.mail
        %a{:href => "#"} contact@kidslife.com
        %span.fa.fa-envelope
      %p.phone-no
        %i +1 959 552 5963
        %span.fa.fa-phone
  / menu-container starts
  #menu-container
    .container
      / nav starts
      %nav#main-menu
        #dt-menu-toggle.dt-menu-toggle
          Menu
          %span.dt-menu-toggle-icon
        %ul#menu-main-menu.menu
          %li.current_page_item.menu-item-simple-parent.menu-item-depth-0.red
            %a{:href => "index.html"} Главная
          %li.mustard
            %a{:href => "about.html"} О нас
          %li.green
            %a{:href => "our-staffs.html"} Наша команда
          %li.yellow
            %a{:href => "services.html"} Услуги
          %li.steelblue
            %a{:href => "#", :title => ""} Связаться с нами
      / nav ends
      %ul.dt-sc-social-icons
        %li
          %a.dt-sc-tooltip-top.facebook{:href => "#", :title => "Facebook"}
            %span.fa.fa-facebook
        %li
          %a.dt-sc-tooltip-top.youtube{:href => "#", :title => "Youtube"}
            %span.fa.fa-youtube
        %li
          %a.dt-sc-tooltip-top.twitter{:href => "#", :title => "Twitter"}
            %span.fa.fa-twitter
        %li
          %a.dt-sc-tooltip-top.gplus{:href => "#", :title => "Google Plus"}
            %span.fa.fa-google-plus
  / menu-container ends
/ header ends