#sliderwrapper {
    width: 1400px;
    min-height: 450px;
    overflow: hidden;
    position:relative;
}
#sliderList {
    list-style: none;
    left: 0px;
    position:absolute;
    width:200000em;
}
.item {
    float: left;
    width: 1400px;
    min-height: 450px;
    // background-color:red;
}