// Place all the styles related to the front/static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#slider_placeholder {
  background-image: url(asset-path('static/main_bg.png'));
  width: 100%;
  min-height: 580px;
  background-repeat: no-repeat;
  background-position: center;
}