.container
  %h2.dt-sc-hr-green-title Организация сказочных детских праздников и шоу с профессиональными аниматорами в Москве
  %p.text-justify.padding-bottom-10
    Агентство "Сказка Шоу" занимается организацией и проведением детских праздников. Наши аниматоры проводят праздники для детей с полным погружением в сказочную атмосферу. Мы делаем авторские шоу-программы. У нас в агентстве можно недорого заказать праздник в детском саду, в беби-клубе, торговом центре и иных детских заведениях. Мы поможем качественно организовать детский праздник ребенку, отметить день рождения с индивидуальной шоу-программой, конкурсами для детей и фокусами. Самое важное для родителей - детская улыбка и радость. Для них мы разрабатываем сценарии мероприятий, готовим костюмы, репетируем выступления и конкурсы. Наши профессиональные аниматоры подарят счастье вашим деткам!

/ container starts
.container
  .dt-sc-one-fourth.column.first
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/wedding.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Свадьбы
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/pen_and_paper.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Праздник в ТРЦ
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/cake.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Юбилей
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/kids.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} День рождения
/ container ends
