.container
  %h2.dt-sc-hr-white-title Recent Blog
  .column.dt-sc-one-half.first
    %article.blog-entry
      .blog-entry-inner
        .entry-meta
          %a.blog-author{:href => "blog-detail.html"}
            %img{:alt => "", :src => "http://placehold.it/90x90", :title => ""}/
          .date
            %span 27
            %p
              Aug
              %br/
              2014
          %a.comments{:href => "#"}
            12
            %span.fa.fa-comment
          %a.entry_format{:href => "#"}
            %span.fa.fa-picture-o
        .entry-thumb
          %a{:href => "blog-detail.html"}
            %img{:alt => "", :src => "http://placehold.it/1170x711", :title => ""}/
        .entry-details
          .entry-title
            %h3
              %a{:href => "blog-detail.html"} Activities Improves Mind
          / entry-metadata ends
          .entry-body
            %p Roin bibendum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accums.
          %a.dt-sc-button.small{:href => "blog-detail.html"}
            Read More
            %span.fa.fa-chevron-circle-right
  / dt-sc-one-half ends
  .column.dt-sc-one-half
    %article.blog-entry
      .blog-entry-inner
        .entry-meta
          %a.blog-author{:href => "blog-detail.html"}
            %img{:alt => "", :src => "http://placehold.it/90x90", :title => ""}/
          .date
            %span 27
            %p
              Aug
              %br/
              2014
          %a.comments{:href => "#"}
            12
            %span.fa.fa-comment
          %a.entry_format{:href => "#"}
            %span.fa.fa-picture-o
        .entry-thumb
          %a{:href => "blog-detail.html"}
            %img{:alt => "", :src => "http://placehold.it/1170x711", :title => ""}/
        .entry-details
          .entry-title
            %h3
              %a{:href => "blog-detail.html"} Weekly Reader Zone
          / entry-metadata ends
          .entry-body
            %p Iid venenatis nibh accums. Doinbibe ndum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accumsan...
          %a.dt-sc-button.small{:href => "blog-detail.html"}
            Read More
            %span.fa.fa-chevron-circle-right