/ container starts
.container
  / primary starts
  %section#primary.content-full-width
    .column.dt-sc-one-column.first.contact_form_outer
      =render partial: 'front/shared/contact_form', locals: { title: "Заказать детский праздник" }