/ container starts
.container
  / primary starts
  %section#primary.content-full-width
    .column.dt-sc-one-column.first.contact_form_outer
      %form.contact-form{:action => "php/contactmail.php", :method => "post", :name => "frcontact"}
        %h2 We'd Like to Hear From You!
        %p.column.dt-sc-one-third.first
          %input#name{:name => "txtname", :placeholder => "Name", :required => "", :type => "text"}/
        %p.column.dt-sc-one-third
          %input#email{:name => "txtemail", :placeholder => "Email ID", :required => "", :type => "email"}/
        %p.column.dt-sc-one-third
          %input#subject{:name => "txtsubject", :placeholder => "Subject", :required => "", :type => "text"}/
        %p
          %textarea#comment{:name => "txtmessage", :placeholder => "Message"}
        #ajax_contact_msg
        %p
          %input#submit.dt-sc-button.medium{:name => "submit", :type => "submit", :value => "Send Email"}/
