.container
  %h2.dt-sc-hr-green-title С нами сказки становятся реальностью
  %p.text-center.padding-bottom-10
    Мы работаем не только детскими праздниками, но и со взрослыми! Вы можете заказать развлекательную программу на:

/ container starts
.container
  .dt-sc-one-fourth.column.first
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/wedding.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Свадьбы
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/pen_and_paper.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Праздник в ТРЦ
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/cake.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Юбилей
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/kids.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} День рождения
/ container ends
