.container
  %h2.dt-sc-hr-green-title С нами сказки становятся реальностью
  %p.text-center.padding-bottom-10
    На любой свадьбе, юбилее или другом “взрослом” мероприятии практически всегда есть дети. К сожалению, организаторы торжества часто забывают об этом. В результате дети начинают грустить и капризничать, что точно не отражается положительно на общей обстановке праздника. Мы с удовольствием устроим праздник и для ваших деток, пока родители отмечают своё важное событие. Мы приедем на свадьбу и юбилей, а также устроим общественный праздник в торгово-развлекательном центре.

/ container starts
.container
  .dt-sc-one-fourth.column.first
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/wedding.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Свадьбы
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/pen_and_paper.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Праздник в ТРЦ
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/cake.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Юбилей
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/kids.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} День рождения
/ container ends
