/ container starts
.container
  %h2.dt-sc-hr-green-title#masterclass мастер-классы
  .columns-with-white-background
    %p.padding-bottom-3em “Сказка шоу” регулярно проводит развивающие мастер-классы для детей любых возрастов. Запишитесь на занятие по...
    %ul.dt-sc-fancy-list.burnt-orange.graduation-cap.padding-left-2em.padding-bottom-3em
      %li … росписи по декорированию рамок, и ваши фотографии всегда будут окаймлены в рамке с неповторимым оригинальным дизайном.
      %li … мыловарению, и тогда у вас не возникнет проблем с идеями для хендмейд подарков близким, которые обязательно пригодятся в быту, а не просто будут годами стоять на полочке.
      %li … картинам из песка и устраивайте захватывающие домашние показы песочной анимации для всей семьи хоть каждый вечер.
      %li … росписи деревянных игрушек и начните собирать коллекцию своих шедевральных поделок уже после посещения мастер класса.
      %li … твистинг (моделирование фигур из воздушных шаров) и удивите своих друзей новым умением на ближайшем празднике.
      %li … росписи футболок и научитесь создавать дизайнерскую одежду. Кто знает, может быть, за вами будущее индустрии моды?
      %li … изготовлению магнитов и сделайте запоминающиеся сувениры на холодильник для каждого члена семьи
      %li … эбру (специальную технику рисования, которая предполагает создание узоров на воде и дальнейшее их перенесение на какую-либо поверхность, например, на бумагу или ткань) и откройте в себе новые таланты.
      %li … изготовлению ловцов снов и сотворите амулет, который будет пропускать в вашу голову только добрые и приятные сновидения.
      %li … изготовлению шариков-антистрессов и навсегда забудьте о негативных эмоциях.
      %li … созданию елочных украшений и перед каждым праздником создавайте новогодний символ для своих друзей и близких.
    %p
      И это далеко не полный список того, чему мы можем научить вас и ваших деток! Чтобы узнать больше, оставьте заявку в форме обратной связи и в ближайшее время наш менеджер проконсультирует вас по всем доступным мастер-классам, которые будут проходить в ближайшее время.