/ container starts
.container
  %h2.dt-sc-hr-green-title Примеры праздников
  / portfolio-content starts
  .front-portfolio-container
    .portfolio-content.portfolio-content1
      .front-portfolio
        .portfolio-outer
          .portfolio-thumb
            %img{:alt => "", :src => asset_path('static/image1.jpg'), :title => ""}/
            .image-overlay
              %h5
                %a{:href => "portfolio-detail.html"} Gifts at Large
              %a.link{:href => "portfolio-detail.html"}
                %span.fa.fa-link
              %a.zoom{"data-gal" => "prettyPhoto[gallery]", :href => asset_path('static/image1.jpg')}
                %span.fa.fa-search
    .portfolio-content.portfolio-content2
      .front-portfolio
        .portfolio-outer
          .portfolio-thumb
            %img{:alt => "", :src => asset_path('static/image2.jpg'), :title => ""}/
            .image-overlay
              %h5
                %a{:href => "portfolio-detail.html"} Gifts at Large
              %a.link{:href => "portfolio-detail.html"}
                %span.fa.fa-link
              %a.zoom{"data-gal" => "prettyPhoto[gallery]", :href => asset_path('static/image2.jpg')}
                %span.fa.fa-search
    .portfolio-content.portfolio-content3
      .front-portfolio
        .portfolio-outer
          .portfolio-thumb
            %img{:alt => "", :src => asset_path('static/image3.jpg'), :title => ""}/
            .image-overlay
              %h5
                %a{:href => "portfolio-detail.html"} Gifts at Large
              %a.link{:href => "portfolio-detail.html"}
                %span.fa.fa-link
              %a.zoom{"data-gal" => "prettyPhoto[gallery]", :href => asset_path('static/image3.jpg')}
                %span.fa.fa-search
    .portfolio-content.portfolio-content4
      .front-portfolio
        .portfolio-outer
          .portfolio-thumb
            %img{:alt => "", :src => asset_path('static/image4.jpg'), :title => ""}/
            .image-overlay
              %h5
                %a{:href => "portfolio-detail.html"} Gifts at Large
              %a.link{:href => "portfolio-detail.html"}
                %span.fa.fa-link
              %a.zoom{"data-gal" => "prettyPhoto[gallery]", :href => asset_path('static/image4.jpg')}
                %span.fa.fa-search
    .portfolio-content.portfolio-content5
      .front-portfolio
        .portfolio-outer
          .portfolio-thumb
            %img{:alt => "", :src => asset_path('static/image5.jpg'), :title => ""}/
            .image-overlay
              %h5
                %a{:href => "portfolio-detail.html"} Gifts at Large
              %a.link{:href => "portfolio-detail.html"}
                %span.fa.fa-link
              %a.zoom{"data-gal" => "prettyPhoto[gallery]", :href => asset_path('static/image5.jpg')}
                %span.fa.fa-search
    .portfolio-content.portfolio-content6
      .front-portfolio
        .portfolio-outer
          .portfolio-thumb
            %img{:alt => "", :src => asset_path('static/image6.jpg'), :title => ""}/
            .image-overlay
              %h5
                %a{:href => "portfolio-detail.html"} Gifts at Large
              %a.link{:href => "portfolio-detail.html"}
                %span.fa.fa-link
              %a.zoom{"data-gal" => "prettyPhoto[gallery]", :href => asset_path('static/image6.jpg')}
                %span.fa.fa-search
    .portfolio-content.portfolio-content7
      .front-portfolio
        .portfolio-outer
          .portfolio-thumb
            %img{:alt => "", :src => asset_path('static/image7.jpg'), :title => ""}/
            .image-overlay
              %h5
                %a{:href => "portfolio-detail.html"} Gifts at Large
              %a.link{:href => "portfolio-detail.html"}
                %span.fa.fa-link
              %a.zoom{"data-gal" => "prettyPhoto[gallery]", :href => asset_path('static/image7.jpg')}
                %span.fa.fa-search
    .dt-sc-hr-small
    .aligncenter
      %a.dt-sc-button.medium.mustard{:href => "#"}
        Hit here to view all
        %span.fa.fa-chevron-circle-right
  / front-portfolio-container ends
/ container ends