/ fullwidth-background starts
%section.fullwidth-background.dt-sc-parallax-section.product_bg
  / container starts
  .container
    %h2.dt-sc-hr-white-title Recent Products
    %ul.products
      %li.dt-sc-one-fourth.column.first
        .product-thumb
          %a{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/510x716", :title => ""}/
          %span.sale Sale!
          .image-overlay
            .product-button
              %a.add-cart-btn{:href => "#"} Add to cart
        .product-details
          %h5
            %a{:href => "#"} Ellents Style Grade
          %span.price $20.00
      %li.dt-sc-one-fourth.column
        .product-thumb
          %a{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/510x716", :title => ""}/
          .image-overlay
            .product-button
              %a.add-cart-btn{:href => "#"} Add to cart
        .product-details
          %h5
            %a{:href => "#"} Ellents Style Grade
          %span.price $20.00
      %li.dt-sc-one-fourth.column
        .product-thumb
          %a{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/510x716", :title => ""}/
          %span.sale Sale!
          .image-overlay
            .product-button
              %a.add-cart-btn{:href => "#"} Add to cart
        .product-details
          %h5
            %a{:href => "#"} Ellents Style Grade
          %span.price $20.00
      %li.dt-sc-one-fourth.column
        .product-thumb
          %a{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/510x716", :title => ""}/
          .image-overlay
            .product-button
              %a.add-cart-btn{:href => "#"} Add to cart
        .product-details
          %h5
            %a{:href => "#"} Ellents Style Grade
          %span.price $20.00
  / container ends
/ fullwidth-background ends