.container
  %h2.dt-sc-hr-green-title “Сказка шоу” исполнит все самые заветные мечты вашего ребенка
  %p
    Мы работаем не только детскими праздниками, но и со взрослыми! Вы можете заказать развлекательную программу на:

/ container starts
.container
  .dt-sc-one-fourth.column.first
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/wedding.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Свадьбы
      %p Что писать не знаю
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/pen_and_paper.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Праздник в ТРЦ
      %p Пишем пишем пашем пляшем
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/cake.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Юбилей
      %p Надо что-то написать
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/kids.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Празднование семейного события
      %p Празднуем!
/ container ends
