/ container starts
.container
  .dt-sc-one-fourth.column.first
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service1.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Active Learning
      %p Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service2.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Music Class
      %p Decor ostdcaer urabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, invest tibulum nisl ligula
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service3.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Yoga Class
      %p Rabitur ultrices posuere mattis. Nam ullamcorper, diam sit  euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl gedretu osterftra ligula
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service4.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Kung fu Class
      %p Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula
/ container ends