/ container starts
.container
  / dt-sc-one-half starts
  .dt-sc-one-half.column.first
    %h2 Play As You Learn
    / dt-sc-one-half starts
    .dt-sc-one-half.column.first
      .dt-sc-ico-content.type2
        .icon
          %span.fa.fa-glass
        %h4
          %a{:href => "#", :target => "_blank"} English Summer Camp
        %p Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....
      .dt-sc-hr-very-small
      .dt-sc-ico-content.type2
        .icon
          %span.fa.fa-pencil
        %h4
          %a{:href => "#", :target => "_blank"} Drawing &amp; Painting
        %p Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....
      .dt-sc-hr-very-small
      .dt-sc-ico-content.type2
        .icon
          %span.fa.fa-bullseye
        %h4
          %a{:href => "#", :target => "_blank"} Swimming Camp
        %p Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....
    / dt-sc-one-half ends
    / dt-sc-one-half starts
    .dt-sc-one-half.column
      .dt-sc-ico-content.type2
        .icon
          %span.fa.fa-tachometer
        %h4
          %a{:href => "#", :target => "_blank"} Sports Camp
        %p Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....
      .dt-sc-hr-very-small
      .dt-sc-ico-content.type2
        .icon
          %span.fa.fa-magic
        %h4
          %a{:href => "#", :target => "_blank"} Personalizing
        %p Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....
      .dt-sc-hr-very-small
      .dt-sc-ico-content.type2
        .icon
          %span.fa.fa-music
        %h4
          %a{:href => "#", :target => "_blank"} Sing &amp; Dance
        %p Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....
    / dt-sc-one-half ends
  / dt-sc-one-half ends
  / dt-sc-one-half starts
  .dt-sc-one-half.column
    %h2 With Music4Kids, music is child's play!
    .add-slider-wrapper
      %ul.add-slider
        %li
          %img{:alt => "", :src => asset_path('static/add1.jpg'), :title => ""}/
        %li
          %img{:alt => "", :src => asset_path('static/add2.jpg'), :title => ""}/
        %li
          %img{:alt => "", :src => asset_path('static/add1.jpg'), :title => ""}/
  / dt-sc-one-half ends
/ container ends