/ container starts
.container
  %h2.dt-sc-hr-green-title Обзор услуг
  / dt-sc-one-half starts
  .dt-sc-one-half.column.first
    .dt-sc-toggle-frame-set
      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion.active
          %a{:href => "#"} Шоу мыльных пузырей
        .dt-sc-toggle-content
          .block
            Переливающиеся мыльные пузыри стали уже вечной классикой любого детского праздника. Из такой, казалось бы, простой вещи можно сделать яркое и запоминающееся шоу, которое приводит в восторг не только детей, но и родителей.

            На нашем шоу мыльных пузырей:

            Вы получите невероятные эмоции, посмотрев красочное выступление с гигантскими мыльными пузырями, которые тянутся из одного конца помещения к другому, при этом ярко переливаясь всеми цветами радуги, наполняются разноцветным дымом, другими пузырями… и даже огнем. И все под вашу любимую музыку!
            Дети вместе с аниматором соорудят фигуры из мыльных пузырей: карусели, аквариумы, гусенички, вулканы… Разве такое возможно? Со “Сказка шоу” - да!
            В завершение развлекательной программы аниматор устроит мыльный салют. Спорим, что такого вы еще не видели?

            Продолжительность шоу мыльных пузырей: 35 - 40 минут.

            Стоимость шоу мыльных пузырей у “Сказка шоу” - 12 000 рублей.

      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Крио-шоу с мороженым
        .dt-sc-toggle-content
          .block
            Наш повар в красочной форме устроит детям шоу с жидким азотом, а затем откроет им  все секреты молекулярной кухни и устроит мастер класс по созданию мороженого. Никто не останется голодным!
            После зажигательных танцев и игр гости праздника немного вспотели. Пора немного охладиться и принять ледяной душ из жидкого азота.
            Кто сказал, что с едой нельзя играть? Аниматор заморозит банан жидким азотом и устроит эстафету на забивание им гвоздей. Победитель получит двойную порцию мороженого!
            Фирменный “десерт” нашего крио-шоу - самодельное мороженое из натуральных продуктов: сливки, яйца, сахар, клубника, шоколад, лимон, кокосовая стружка и… жидкий азот. Ничего лишнего!
            Чтобы усилить впечатления от шоу, напоследок мы создадим водородную бомбу и крио-взрыв.

            Продолжительность крио-шоу: 45 минут.

            Стоимость крио шоу у “Сказка шоу” - от 10 000 до 14 000 рублей.

      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Тесло шоу
        .dt-sc-toggle-content
          .block
            Если среди детей есть юные любители физики, то это представление запомнится им еще на долгие годы. На тесло-шоу они увидят впечатляющие трюки с молнией и зажиганием лампочек в руке. Особенно впечатляюще это выглядит в темном помещении, так что придется выключить свет :)

            Продолжительность тесло шоу: 35 минут.

            Стоимость тесло-шоу у “Сказка шоу” - от 10 000 до 15 000 рублей.

      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Поролоновое шоу
        .dt-sc-toggle-content
          .block
            Поролоновое шоу идеально подойдет как для самых маленьких детей, так и для ребят постарше. Масса развлечений среди множества мягких цветных кубиков ждет участников мероприятия:

            Соревновательные эстафеты
            Строительство огромного замка из поролоновых кубиков
            Прыгание на огромном самодельном поролоновом батуте
            Оригинальная красочная фотосессия
            Поединок поролоновым оружием, где никто не получит травм

            Все мероприятие проходит в музыкальном сопровождении и с участием аниматора, костюм которого вы можете выбрать самостоятельно

            Продолжительность поролонового шоу: 30 - 40 минут.

            Стоимость поролонового шоу у “Сказка шоу” - от 17 000 до 23 000 рублей.

      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Лазерное шоу
        .dt-sc-toggle-content
          .block
            Это яркое и эффектное зрелище не оставит равнодушным не только детей, но и их родителей. Под ритмичную музыку лазерные лучи рассекают все пространство вокруг и принимают абсолютно любые формы. Это шоу заказывают у нас не только на детские мероприятия, но и на свадьбы, корпоративы и даже крупные городские праздники!

            Продолжительность лазерного шоу: 10 минут.

            Стоимость лазерного шоу у “Сказка шоу” - 20 000 рублей.

      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Кукольный спектакль
        .dt-sc-toggle-content
          .block
            Выездной кукольный интерактив-спектакль - развлечение не только для детей, но и для взрослых. В игровой форме аниматор вместе с ребятами подготавливают представление для родителей, а затем они вместе презентуют его. В спектакле принимают участие красочные куклы, яркие костюмы и оригинальные декорации. Этот вариант идеально подойдет для детского утренника в саду.

            Продолжительность мероприятия: 40-60 минут.

            Стоимость выездного кукольного спектакля в “Сказка шоу” - от 16 000 до 17 000 рублей.

      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Дрессированные животные

        .dt-sc-toggle-content
          .block
            “Сказка шоу” может устроить на вашем празднике самый настоящий выездной цирк! Уникальное представление на арене с участием дрессированных питомцев (вы можете самостоятельно выбрать зверьков, которые будут присутствовать на празднике) запомнятся вам и вашим детям. После просмотра шоу можно поиграть с животными: погладить, покормить их.

            Продолжительность шоу с дрессированными животными: 30-60 минут.

            Стоимость шоу с дрессированными животными  у “Сказка шоу” - от 12 000 до 16 000 рублей.


      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Барабанное шоу
        .dt-sc-toggle-content
          .block
            Устройте веселую дискотеку под ритмичную живую музыку барабанного шоу! Выступление подходит для любого повода: будь это выпускной, концерт, городской праздник, фестиваль или просто праздничный семейный выезд на шашлыки - это  понравится любому зрителю.

            Продолжительность барабанного шоу: от 10 до 60 минут.

            Стоимость барабанного шоу у “Сказка шоу” - 25 000 рублей.

      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Мимы шоу
        .dt-sc-toggle-content
          .block
            Вы наверняка хотя бы раз слышали о веселых черно-белых клоунах, которые умудряются сделать потрясающее шоу, не произнеся при этом ни слова. В нашем арсенале есть и такие талантливые мастера, которые с удовольствием приедут на ваш праздник.

            В развлекательную программу входят юмористические сценки, танцевальные номера, живые статуи, жонглирование, неординарные поздравления и мастер классы.
            Продолжительность представления мимов: от одного часа.

            Стоимость праздника с мимами у “Сказка шоу” - от 3 500 до 5 500 рублей.


      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Ростовые куклы
        .dt-sc-toggle-content
          .block
            Куклы-переростки в оригинальных костюмах станут изюминкой вашего праздника. Они сотворят торжественную атмосферу, развлекут детей веселыми играми, зажигательными танцами, а также устроят праздничную фотосессию.

            Продолжительность выступления ростовых кукол: от одного часа.

            Стоимость праздника с ростовыми куклами у “Сказка шоу” - 6 000 рублей.


      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Иллюзионная программа
        .dt-sc-toggle-content
          .block
            Наш иллюзионист устроит для вас красочное волшебное представление. В программу входит более 12 фокусов, в каждом из которых принимают участие дети. Некоторые секреты волшебства будут раскрыты в конце развлекательной программы! В завершение шоу маг проведет мини мастер-класс и обучит гостей некоторым секретным трюкам.
            Продолжительность иллюзионного шоу: 45 минут

            Стоимость иллюзионного шоу у “Сказка шоу” - от 20 000 до 28 000 рублей.


      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Видеооператор
        .dt-sc-toggle-content
          .block
            Вы можете сделать из своего праздника целый фильм, чтобы потом иметь возможность просматривать важнейшие моменты радостного события еще на протяжении долгих лет.

            Наш видеооператор не только отснимет материал на вашем мероприятии, но и смонтирует его в соответствии с вашими пожеланиями.

            Стоимость съемки зависит от сложности, количества съемочных часов, количества участвующих видеооператоров, сложности монтажа, ваших личных пожеланий и обговаривается индивидуально.


      .dt-sc-toggle-frame
        %h5.dt-sc-toggle-accordion
          %a{:href => "#"} Праздничный торт
        .dt-sc-toggle-content
          .block
            Разве может быть праздник без торта? Конечно же нет! “Сказка шоу” сотворит на ваше мероприятие идеальный торт в соответствие с тематикой вашего торжества и вкусовыми предпочтениями гостей

            Стоимость праздничного торта обговаривается индивидуально.




  / dt-sc-one-half ends
  / dt-sc-one-half starts
  .column.dt-sc-one-half
    .dt-sc-toggle-frame-set.course
      %h5.dt-sc-toggle-accordion.active
        %a{:href => "#"} Химическое шоу
      .dt-sc-toggle-content
        .block
          Химическое шоу пробудит у вашего ребенка любовь к науке еще с самого детства! Такие захватывающие и познавательные опыты не оставят равнодушным ни одного гостя.
          Вы когда-нибудь зажигали свечу с помощью… Жвачки и батарейки? Если нет, то это химическое шоу станет вашим дебютом.
          Даже когда на улице жара, наш волшебный химик создаст искусственный снег и сухой лед, который не растает даже в горячей воде
          Дети смогут сыграть в прятки в дымовой завесе, которую создаст наш веселый ученый. Это абсолютно безопасно
          Веселый профессор устроит для всех гостей пенную вечеринку!
          Мы вместе изобретем огненный мини-вулкан
          Исчезающие чернила из Хогвартса существуют! На химическом шоу вы лично в этом убедитесь
          Продолжительность химического шоу: от 40 минут до 1 часа.

          Стоимость химического шоу у “Сказка шоу” - 11 500 рублей.

      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Шоу с реактивами
      .dt-sc-toggle-content
        .block
          На шоу с реактивом аниматор в течение сорока минут будет развлекать детей интересными опытами и экспериментами, в которых сможет поучаствовать каждый.

          В программу входит:

          Мастер класс по самодельным лизунам
          Нетающий снег своими руками
          Опыты с реактивами
          Поджигание руки без ожогов

          Стоимость шоу с реактивами у “Сказка шоу” - от 7 000 рублей.

      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Бумажное шоу
      .dt-sc-toggle-content
        .block
          30 минут безудержного веселья под зажигательную музыку в целой горе сверкающего бумажного конфетти с веселыми аниматорами - ну разве это не мечта каждого ребенка? В программу входят захватывающие танцевальные баттлы с мини-призами (в которых, конечно же, побеждает дружба). Кстати, убираться после этого не придется - это останется на нас!

          Стоимость бумажного шоу у “Сказка шоу” - от 17 000 до 21 000 рублей.

      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Ленточное шоу
      .dt-sc-toggle-content
        .block
          Получасовая дискотека под красочным дождем из ленточек с занимательными конкурсами и играми от аниматора. Это шоу отличается особенно интересными  праздничными реквизитами: например, ленточным лабиринтом, порталом счастья и карамельными сосульками. Завершается торжество ярким ленточным салютом.

          Стоимость ленточного шоу у “Сказка шоу” - от 11 000 до 18 000 рублей.

      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Шоу трансформеров

      .dt-sc-toggle-content
        .block
          Все мальчишки любят фильм об этих “живых” машинах. А что, если они увидят их в реальности на своем празднике? Со “Сказка шоу” возможно даже это!

          Эти могущественные роботы продемонстрируют вам всю свою силу и мощь. Они устроят феерическое представление: битву светодиодными мечами и стрельбу из дымовых пушек - все это с музыкальным сопровождением.

          Мега-робот Гигант поздравит детей с праздником и подарит зажигательную дискотеку с элементами лазерного шоу.

          Продолжительность шоу трансформеров: 40 минут.

          Стоимость шоу трансформеров у “Сказка шоу” - от 27 000 до 38 000 рублей.

      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Песочное шоу
      .dt-sc-toggle-content
        .block
          Это мероприятие делится на 2 части: просмотр песочного представления и мастер класс по технике песочной анимации.Сначала вы насладитесь сказочной анимированной историей, которую художник создает песком на специальном стеклянном оборудовании в реальном времени, а затем вы и сами научитесь создавать такие шедевры. Чтобы удивить своих маленьких гостей, мы можем разработать тематическую анимацию специально для вашего праздника и транслировать ее на шоу.

          Продолжительность мероприятия: 20-40 минут.

          Стоимость песочного шоу у “Сказка шоу” - от 25 000 до 29 000 рублей.

      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Огненное шоу
      .dt-sc-toggle-content
        .block
          Профессиональные каскадеры, которые умело укрощают пламя продемонстрируют вам все свои самые яркие трюки. На шоу присутствуют впечатляющие декорации - настоящие факелы, горящие чаши и пиротехнические фонтаны.

          Продолжительность файер-шоу: 10 минут.

          Стоимость огненного шоу у “Сказка шоу” - от 15 000 до 19 000 рублей.


      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Ходулисты
      .dt-sc-toggle-content
        .block
          Удивите гостей сказочными трехметровыми великанами в необычных костюмах, которые проведут с вами весь праздник.

          Сначала персонажи встречают гостей и общаются с ними
          Затем они устраивают красочное театральное представление с танцами и экстремальными трюками
          После выступления ваши гости смогут сфотографироваться с гигантами, чтобы сохранить воспоминания о веселом празднике не только в голове, но и на фотографиях.

          Продолжительность представления ходулистов: от одного часа.

          Стоимость праздника с ходулистами у “Сказка шоу” - от 4 500 до 8 000.


      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Жонглер
      .dt-sc-toggle-content
        .block
          Веселые актеры в ярких костюмах, которые подбрасывают в воздух множество предметов и умело ловят их, всегда ассоциируются с детством. “Сказка шоу” поможет вашему ребенку оставить со своим лучшим возрастом только самые теплые, яркие и счастливые воспоминания. Наши жонглеры работают с булавами, кольцами, мячиками и даже ножами! После своего выступления артисты проводят детские мастер классы по жонглированию.

          Продолжительность выступления жонглеров: от одного часа.

          Стоимость праздника с жонглерами у “Сказка шоу” - от 7 000 до 8 000 рублей.


      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Аниматоры
      .dt-sc-toggle-content
        .block
          Пригласите на свой праздник волшебного персонажа из любимой сказки. Он отправится с вашими детьми в волшебную страну “Поздравляшкину”, где они пройдут множество испытаний, справиться с которыми поможет только дружба и командная работа. В конце путешествия все детки получат заслуженные подарки и нанесут на лицо магический аквагрим, который исполняет все самые заветные мечты.

          Продолжительность выступления аниматора: от одного часа.

          Стоимость выступления аниматора у “Сказка шоу” - 5 500 рублей.


      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Фотограф
      .dt-sc-toggle-content
        .block
          Вам не нужно искать фотографа для своего праздника где-то на стороне! При необходимости, “Сказка шоу” предоставит вам профессионального специалиста, который будет присутствовать на мероприятии и ловить самые яркие моменты. Скорость его работы - от 50 до 150 кадров в час. В течение недели после праздника он отправит вам весь материал, обработав более 50 фотографий.

          Стоимость съемки обговаривается индивидуально


      %h5.dt-sc-toggle-accordion
        %a{:href => "#"} Оформление зала
      .dt-sc-toggle-content
        .block
          Помимо полного проведения мероприятия, мы занимаемся подготовкой помещения. Мы оформим зал в соответствии с вашими самыми креативными идеями! Также у нас есть уникальные элементы декора, которые точно понравятся вашим гостям:

          Огромный шар-сюрприз, внутри которого находится конфетти, записки с пожеланиями, леденцы и наклейки.
          Куклы, звери, буквы, цифры, букеты, деревья… И все из шариков!
          Фигуры, которые умеют ходить, благодаря гелию и небольшим грузикам внутри.
          Оригинальные гирлянды из оригами

          Стоимость оформления зала зависит от идеи декора, сложности оформления, объема работы, количества дополнительных услуг и обговаривается индивидуально.

