.container
  %h2.dt-sc-hr-green-title “Сказка шоу” исполнит все самые заветные мечты вашего ребенка
  .column.dt-sc-one-half.first
    Ваш ребенок и все гости мероприятия расплываются в радостных улыбках, восторженно смеются в игре и, разинув рты, увлеченно наблюдают за происходящим шоу… Если вы хотите именно этого от своего праздника, то вы попали по адресу! Мы готовы предложить вам не только опытного аниматора в ярком образе, но и полную организацию праздника под ключ - вплоть до закупки сувениров для гостей, подборки плейлиста и заказа праздничного торта. Мы хотим, чтобы вместо предпраздничной суеты вы смогли в полной мере насладиться важным событием, не думая о хлопотах.

    “Сказка шоу” работает с абсолютно любыми бюджетами, начиная от 6 000 рублей. Мы хотим показать, что для организации идеального праздника совсем не нужно быть миллионером!

    Помимо организации праздничных мероприятий, мы регулярно проводим обучающие мастер классы. С нами ваш ребенок сможет обучиться оригами, бисероплетению, квиллингу, росписи, мыловарению и многому другому.
  .column.dt-sc-one-half
    Мы работаем не только детскими праздниками, но и со взрослыми! Вы можете заказать развлекательную программу на:
    %ul
      %li Свадьбу
      %li Корпоратив
      %li Празднование семейного события
      %li Открытие магазина
      %li Новый год
      %li Праздник в ТРЦ
      %li Тематическую вечеринку
      %li Городской праздник
      %li Выпускной
      %li Спортивное мероприятие
      %li Юбилей
      %li Фестиваль
      %li Промоакцию

    … и другие мероприятия

    Желаем Вам приятного путешествия в мир сказок и волшебства!

/ container starts
.container
  .dt-sc-one-fourth.column.first
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service1.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Active Learning
      %p Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service2.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Music Class
      %p Decor ostdcaer urabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, invest tibulum nisl ligula
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service3.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Yoga Class
      %p Rabitur ultrices posuere mattis. Nam ullamcorper, diam sit  euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl gedretu osterftra ligula
  .dt-sc-one-fourth.column
    .dt-sc-ico-content.type1
      .icon
        %span.icon-outer
          %img{:alt => "", :src => asset_path('static/service4.jpg'), :title => ""}/
          %span.infolayer
            %a{:href => "#"}
              %i.fa.fa-link
      %h4
        %a{:href => ""} Kung fu Class
      %p Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula
/ container ends