/ container starts
.container
  %h2.dt-sc-hr-white-title Шоу Эльза для девочек
  .dt-sc-one-third.columns-with-white-background.column.first
    .product-thumb
      %ul
        %li 💥Эльза и Олаф с тематическим реквизитом на 2 часа.
        %li 💥Крио-шоу с мороженным и подарки всем деткам.
        %li 💥 Шар-сюрприз и мыльная дискотека(пузыри) в подарок.
    .product-details
      %h5
        %a{:href => "#"} Программа на 3 часа
      %span.price Стоимость такой программы: 26 000
  .dt-sc-one-third.columns-with-white-background.column
    .product-thumb
      %ul
        %li 💥 Эльза с тематическим реквизитом на 2 часа.
        %li 💥 Крио-шоу с мороженным и подарок каждому ребенку.
        %li 💥 Шар-сюрприз и мыльная дискотека(пузыри) в подарок.
    .product-details
      %h5
        %a{:href => "#"} Программа на 3 часа.
      %span.price Стоимость: 22 000
  .dt-sc-one-third.columns-with-white-background.column
    .product-thumb
      %ul
        %li 💥 Эльза и Олаф с тематическим реквизитом. 1.5 часа.
        %li 💥 Крио-шоу с мороженным и подарок каждому ребенку.
        %li 💥 Волшебник (фокусник )
        %li 💥 Шар-сюрприз и мыльная дискотека(пузыри)в подарок.
    .product-details
      %h5
        %a{:href => "#"} Программа на 3 часа.
      %span.price Стоимость: 36 000