.glide
  .glide__track{"data-glide-el" => "track"}
    %ul.glide__slides
      %li.glide__slide
        %img{:src => asset_path('slider/winter_holidays/1.jpg'), :style => "width:100%"}/
      %li.glide__slide
        %img{:src => asset_path('slider/winter_holidays/2.jpg'), :style => "width:100%"}/
      %li.glide__slide
        %img{:src => asset_path('slider/winter_holidays/3.jpg'), :style => "width:100%"}/
      %li.glide__slide
        %img{:src => asset_path('slider/main_bg.png'), :style => "width:100%"}/


  .glide__bullets{"data-glide-el" => "controls[nav]"}
    %button.glide__bullet{"data-glide-dir" => "=0"}
    %button.glide__bullet{"data-glide-dir" => "=1"}
    %button.glide__bullet{"data-glide-dir" => "=2"}
    %button.glide__bullet{"data-glide-dir" => "=3"}
