/ container starts
.container
  %h2.dt-sc-hr-green-title Наши сотрудники
  .column.dt-sc-one-fourth.first
    .dt-sc-team
      .image
        %img.item-mask{:alt => "", :src => asset_path("defaults/mask.png"), :title => ""}/
        %img{:alt => "", :src => asset_path("static/team1.jpg"), :title => ""}/
        .dt-sc-image-overlay
          %a.link{:href => "#"}
            %span.fa.fa-link
          %a.zoom{:href => "#"}
            %span.fa.fa-search
      .team-details
        %h4 Jack Daniels
        %h6 Senior Supervisor
        %p Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.
  .column.dt-sc-one-fourth
    .dt-sc-team
      .image
        %img.item-mask{:alt => "", :src => asset_path("defaults/mask.png"), :title => ""}/
        %img{:alt => "", :src => asset_path("static/team2.jpg"), :title => ""}/
        .dt-sc-image-overlay
          %a.link{:href => "#"}
            %span.fa.fa-link
          %a.zoom{:href => "#"}
            %span.fa.fa-search
      .team-details
        %h4 Linda Glendell
        %h6 Teaching Professor
        %p Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.
  .column.dt-sc-one-fourth
    .dt-sc-team
      .image
        %img.item-mask{:alt => "", :src => asset_path("defaults/mask.png"), :title => ""}/
        %img{:alt => "", :src => asset_path("static/team3.jpg"), :title => ""}/
        .dt-sc-image-overlay
          %a.link{:href => "#"}
            %span.fa.fa-link
          %a.zoom{:href => "#"}
            %span.fa.fa-search
      .team-details
        %h4 Kate Dennings
        %h6 Children Diet
        %p Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.
  .column.dt-sc-one-fourth
    .dt-sc-team
      .image
        %img.item-mask{:alt => "", :src => asset_path("defaults/mask.png"), :title => ""}/
        %img{:alt => "", :src => asset_path("static/team4.jpg"), :title => ""}/
        .dt-sc-image-overlay
          %a.link{:href => "#"}
            %span.fa.fa-link
          %a.zoom{:href => "#"}
            %span.fa.fa-search
      .team-details
        %h4 Kristof Slinghot
        %h6 Management
        %p Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus.
/ container ends