/ container starts
.container
  %h2.dt-sc-hr-green-title#teambuilding Тимбилдинги ( для подростков )
  %p.text-center
    Цена от 3500 на человека  до 10 человек 1 аниматор время на 1:20 6-7 испытаний
    %br Цена от 4000 на человека Больше 15 человек 2 аниматора  на 1:20 6-7 испытаний
  %p.text-center
    Дополнительно:
    Ведущий: 15 000 на час
  %p.padding-bottom-3em