/ breadcrumb-section starts
.breadcrumb-section
  .container
    %h1 Услуги
    .breadcrumb
      %a{:href => root_path} Главная
      %span.fa.fa-angle-double-right
      %span.current Услуги
/ breadcrumb-section ends
/ container starts
.container
  / primary starts
  %section#primary.content-full-width
    .dt-sc-one-column
      %article.blog-entry
        .blog-entry-inner
          .entry-meta
            %a.blog-author{:href => ''}
              %img{:alt => "", :src => asset_path('static/rounded-bg-img.jpg'), :title => ""}/
            .date
              %span М
              %p
                Возраст
                %br/
                0-5
          .entry-thumb
            %img{:alt => "", :src => asset_path('static/blog_img2.jpg'), :title => ""}/
          .entry-details
            .entry-title
              %h3
                %a{:href => ''} Образы для малышей:
            / entry-metadata ends
            .entry-body
              %ul.dt-sc-fancy-list.pink.star
                %li Из мультфильма «Три кота» - Карамелька, Коржик, Компот.
                %li Из мультфильма « Фиксики» - Симка, Нолик, Фаер
                %li Из мультфильма «Свинка Пеппа»- Свинка Пеппа, Джордж
                %li Зайчики, мишки.
                %li Лунтик, Мила
                %li Смешарики: Крош, Нюша
            %a.dt-sc-button.small{:href => contact_path}
              Оставить заявку
              %span.fa.fa-chevron-circle-right
    .dt-sc-one-column
      %article.blog-entry
        .blog-entry-inner
          .entry-meta
            %a.blog-author{:href => "blog-detail.html"}
              %img{:alt => "", :src => asset_path('static/rounded-bg-img.jpg'), :title => ""}/
            .date
              %span Д
              %p
                Возраст
                %br/
                5-7
          .entry-thumb
            %a{:href => ''}
              %img{:alt => "", :src => asset_path('static/blog_img1.jpg'), :title => ""}/
          .entry-details
            .entry-title
              %h3
                %a{:href => ''} Образы для деток 5-7 лет:
            / entry-metadata ends
            .entry-body
              %ul.dt-sc-fancy-list.burnt-orange.star
                %li Леди Баг и Супер кот.
                %li «Щенячий патруль»- Скай, Дружок, Маршал
                %li Рапунцель
                %li Мерида
                %li «Холодное сердце»- Эльза, Анна, Олаф
                %li Русалочка
                %li Бель
                %li Белоснежка
                %li Жасмин и Алладин
                %li Золушка
                %li Ариэль
                %li Аврора
                %li Принцесса София
                %li Моана и Мауи
                %li Куклы Лол: Единорожка Лол, Балерина Лол, Пчелка Лол
                %li Пони Искорка, Пони Селестия, Пони Рарити, Пони Эплджек, Пони Радуга,
                %li Динь-Динь
                %li Снежная Королева
                %li «Феи Винкс»- Блум, Стелла, Муза, Флора
                %li «Сказочный патруль» - Варя, Снежка, Аленка
                %li Клоунесса и Клоун
                %li Пираты
                %li Миньоны
                %li «Барбароскины»- Роза, Дружок, Лиза
                %li Алиса
                %li Вспыш
                %li «Тачки»- Маквин, Салли
                %li Капитан Америка
                %li Человек Паук
                %li Халк
                %li Железный человек
                %li Супермен и супервумен
                %li Бэтмен
                %li Бамбалби трансформер
                %li Оптимус Прайм
                %li Из « Тролли» Цветан и Розочка
                %li Микки и Мини Маус
                %li Черепашки Ниндзя
                %li Машенька и медведь
                %li «Мимимишки»- Кеша, Тучка, Цыпа
                %li Эмбер, Полли Робокар
                %li Майнкрафт Крипер
                %li Энгри Бердс: Ред,
                %li Лего нинзяго, Лего нинзяго Кай, Лего нинзяго Синий, красный
                %li «Герои в масках» - Аллет, Кэтбой
                %li Флэш
            %a.dt-sc-button.small{:href => contact_path}
              Оставить заявку
              %span.fa.fa-chevron-circle-right
    .dt-sc-one-column
      %article.blog-entry
        .blog-entry-inner
          .entry-meta
            %a.blog-author{:href => "blog-detail.html"}
              %img{:alt => "", :src => asset_path('static/rounded-bg-img.jpg'), :title => ""}/
            .date
              %span Д
              %p
                Возраст
                %br/
                7 и старше
          .entry-thumb
            %a{:href => ''}
              %img{:alt => "", :src => asset_path('static/blog_img3.jpg'), :title => ""}/
          .entry-details
            .entry-title
              %h3
                %a{:href => ''} Для детей старше 7 лет:
            / entry-metadata ends
            .entry-body
              %ul.dt-sc-fancy-list.violet.star
                %li Модные ведущие
                %li Гарри Потёр и Гермиона
                %li Дракула, ведьма
                %li Ковбои
                %li «Звездные войны» -Дарт Вейдер и  Лея, Джедай
                %li Индейцы
                %li You mube
                %li Джек Воробей
                %li Дэдпул
                %li Шляпник
                %li Алиса
                %li Бременские музыканты
                %li Спанч Боб
                %li Археологи
                %li Шиммер Шайн
                %li «Граффити Фолз»- Мейбл Диппер
                %li Фьеки
                %li Харли Квин
            %a.dt-sc-button.small{:href => contact_path}
              Оставить заявку
              %span.fa.fa-chevron-circle-right
  / primary ends
/ container ends
